<mat-spinner *ngIf="loading" style="margin: 150px auto;"></mat-spinner>

<div [ngClass]="!loading ? 'd-block' : 'd-none'">
 <div class="credencial">
      <div class="tira"></div>
      <div class="gancho1"></div>
      <div class="gancho2"></div>
      <div class="semiCirculo"></div>
      <div class="contenido">
        <!--TODO
        <div><img></div>
        -->
        <div class="fondo">
        <h4>Detalles del usuario</h4>
        <hr>
        @if (user$ | async ; as user) {
          <p style="text-align: center; font-size: 20px;">id = {{user.id}}</p>
          <p>Nombre: <span>{{user.firstName}}</span></p>
          <p>Apellido: <span>{{user.lastName}}</span></p>
          <p>Correo: <span>{{user.email}}</span></p>
          <div style="text-align: center;"><button mat-button color="primary">Editar</button></div>
        }</div>
      </div>
</div>
</div> 

<!-- <button (click)="cambiarParametro()">cambiar param</button> -->