<h2 mat-dialog-title>Crear Producto</h2>
<div mat-dialog-content>
  <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nam quas
  repellendus culpa deleniti error vel id accusamus placeat aut et excepturi,
  voluptatem harum officia ipsa modi provident mollitia exercitationem. -->

  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label appResaltado>Tecnologia:</mat-label>
          <input formControlName="name" matInput />
          <mat-hint>El nombre debe tener al menos 6 caracteres</mat-hint>
          <mat-error>{{
            name?.errors | formFieldValidationErrors
          }}</mat-error>
          </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Precio:</mat-label>
          <input formControlName="price" matInput />
          <mat-error>{{
            price?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>categoria:</mat-label>
          <input formControlName="categori" matInput />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSave()" mat-button>Guardar</button>
</div>