:root {
    --card-bg-color: white;
    --card-font-family: Arial;
    --card-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    --button-bg-color: #008CBA;
    --button-font-size: 16px;
  }
  
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .card {
    background-color: var(--card-bg-color);
    font-family: var(--card-font-family);
    box-shadow: var(--card-box-shadow);
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
  }
  .card img{
    border-radius: 10px;
  }
  
  button {
    background-color: var(--button-bg-color);
    font-size: var(--button-font-size);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  