<!-- COLORES DE ANGULAR MATERIAL

- primary: primaria
- accent: secundaria
- warn: errores

-->

<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR -->
    <mat-drawer
    [opened]="!isMobile()" 
    #drawer 
    class="example-sidenav" 
    [mode]="isMobile()?'over':'side'" >
      <div class="sidebar">
        <div class="logo"><img src="../../../assets/Logo.png" width="40" alt="logo"></div>
        <ul class="menu">
            <li> <a routerLink="home"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a routerLink="teachers"><i class="fa-solid fa-chalkboard-user"></i>Profesores</a></li>
            <li><a *ngIf="(authUser$ | async)?.role === 'ADMIN'" routerLink="users"><i class="fa-solid fa-graduation-cap"></i>Alumnos</a></li>
            <li><a routerLink="products"><i class="fa-solid fa-dumpster-fire"></i>Tecnologias</a></li>
            <li><a routerLink="sales"><i class="fa-solid fa-people-roof"></i>Aulas</a></li>
            <li><a routerLink="chatbot"><i class="fa-regular fa-comment"></i>Mensajes</a></li>
        </ul>
    </div>
    
    </mat-drawer>
    <!-- SIDEBAR -->
  
    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR SUPERIOR -->
      <mat-toolbar color="primary">
        <button
        style="position: relative;z-index: 2;"
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div style="position: relative;">
        <img src="../../../assets/Logo.png" class="logo" width="40" alt="">
        <h1 class="spanLogo"><span style="color: rgb(255, 230, 0);">M</span>atrícula2</h1>
        </div>
        <app-toolbar />

           
           
        <!-- forma fea -->
        <!-- <div>{{(authUser$ | async)?.firstName}}</div> -->
        
        <div class="datos_usuario"(click)="mostarDatos()" >
          <div><i class="fa-solid fa-user-gear us"></i></div>
          @if(mostra){
          @if(authUser$ | async; as user ) {
              <div class="datos-ocultos">
            <div class="cono"></div>
            <div class="datos-usuario" >
              <hr><h3>Tus datos</h3><hr>
              <p><strong>Nombre:</strong> <span>{{user.firstName}}</span></p>
              <p><strong>telefono:</strong> <span>{{user.phone}}</span></p>
              <p><strong>Email:</strong> <span>{{user.email}}</span></p>
              <p><strong>Rol:</strong> <span ></span>{{user.role}}</p>
              <div style="text-align: center;margin-top: 20px;"><button (click)="logout()" mat-flat-button color="warn">Cerrar sesion <i class="fa-solid fa-right-to-bracket "></i></button></div>
          </div>


        </div>
      }
    }
    </div>
            
            
        
      
      </mat-toolbar>

      <main style="padding: 1rem;">
        
        <router-outlet />
       <!-- <app-clase-10-rxjs-2 />  -->
      <!-- <app-clases-09-rxjs /> -->
      <!-- <app-products /> -->
      <!-- <app-users />  -->
      </main>
      
      <!-- TOOLBAR SUPERIOR -->
  
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
    </div>
    <app-footer />
    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
  </mat-drawer-container>