<div class="chat-container">
    <div *ngFor="let message of messages">
      <div [ngClass]="{'user-message': message.type === 'user', 'bot-message': message.type === 'bot'}">
        {{ message.text }}
      </div>
    </div>
    <div *ngIf="typingMessage" class="typing">{{ typingMessage }}</div>
    <div *ngFor="let option of options" (click)="selectOption(option)" class="option">
      {{ option }}
    </div>
    <input [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Escribe tu mensaje..."/>
    <button (click)="sendMessage()">Enviar</button>
  </div>
  