@if (loadingSales$ | async) {
    <mat-spinner style="margin: 150px auto;"></mat-spinner>
    } @else {

    @if(error$ | async) {
      <h2>Ocurrio un error al cargar las ventas </h2>
    }
    @else {
    <div class="nav-salon">
      <h4>Creacion de Salones virtuales</h4>
      <button (click)="modalVisible = true">crear</button>
    </div>
    <app-my-modal (close)="modalVisible = false" [visible]="modalVisible">
      <form [formGroup]="saleForm">
      <mat-form-field>
        <mat-label>Tecnologia</mat-label>
        <mat-select formControlName="product">
          <mat-option [value]="product.name" *ngFor="let product of products"
            >{{ product.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cantidad de vacantes</mat-label>
        <input formControlName="quantity" matInput type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Profesor</mat-label>
        <mat-select formControlName="teacher">
          <mat-option [value]="teacher.firstName" *ngFor="let teacher of teachers"
            >{{ teacher.firstName }} ({{teacher.tecnologi}}) </mat-option
          >
        </mat-select>
      </mat-form-field>
      <button (click)="createSale()" mat-button >Crear</button>
    </form>
    </app-my-modal>
    <div style="display: flex; flex-wrap: wrap;">
    @for (salon of sales; track $index) {
      <div class="card-salon">
        <div class="id-salon">{{salon.id}}</div>
        <div class="banner"><span>{{salon.product}}</span></div>
        <div class="body-salon">
        <p>Profesor: <span>{{salon.teacher}}</span></p>
        <p>Inicio: <span>25/6/2024</span></p>
        <p>capacidad: <span>0 / {{salon.quantity}}</span></p>
        <div class="del"><a (click)="onDeleteSales(salon.id)" style="color: white;"><i class="fa-solid fa-trash-can"></i></a></div>
        </div>
      </div>
    }
  </div>}
   
      <!-- 
    <pre>{{ saleForm.value | json }}</pre>

    <pre>{{ sales | json }}</pre>  -->

    }