<div class="conHom">
    <div class="opt">
        <ul>
            <li class="li1"><a href="">Cursos</a></li>
            <li class="li2"><a href="">Carreras</a></li>
        </ul>
    </div>
    <div class="bodHom">
     <!-- Cards -->
     @for (prod of products; track $index){
         <div class="contCard">
            <div class="contEsp"><span>{{prod.categori}}</span></div>
            <div class="titular">{{prod.name}}</div>
            <div class="descuento">20% off</div>
            <div class="precioSD"><s>${{prod.price}}</s></div>
            <div class="precioCD">$ {{prod.price * 0.8}} ARS</div>
            <div class="BotVer"><button>Ver Detalles</button></div>
         </div>
     }

    </div>
</div>