<div class="conHom">
    <div class="opt">
        <ul>
            <li class="li1"><a href="">Cursos</a></li>
            <li class="li2"><a href="">Carreras</a></li>
        </ul>
    </div>
    <div class="bodHom">
     <!-- Cards -->
     <div class="contCard">
        <div class="contEsp"><span>Negocios</span></div>
        <div class="titular">Finanzas personales</div>
        <div class="descuento">20% off</div>
        <div class="precioSD"><s>$45630</s></div>
        <div class="precioCD">$36014 ARS</div>
        <div class="BotVer"><button>Ver Detalles</button></div>
     </div>

    </div>
</div>