<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="example-sidenav" [opened]="!isMobile()" [mode]="isMobile()?'over':'side'">
    <div class="sidebar">
        <div class="logo"><img src="../../../assets/Logo.png" width="40" alt="Logo"></div>
        <ul class="menu">
            <li><a routerLink="home"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a routerLink="monthly"><i class="fa-solid fa-chart-simple"></i>monthly</a></li>
            <li><a routerLink="bestSelling"><i class="fa-solid fa-chart-pie"></i>bestSelling</a></li>
            <li><a routerLink="trends"><i class="fa-solid fa-chart-line"></i>trends</a></li>
            <li><a routerLink="chatbot"><i class="fa-regular fa-comment"></i>Mensajes</a></li>
        </ul>
    </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
        <button 
        style="position:relative;z-index: 2;"
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="example icon-button with menu icon"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <div style="position: relative;">
        <img src="../../../assets/Logo.png" class="logo" width="40" alt="">
        <h1 class="spanLogo"><span style="color: rgb(255,230,0);">M</span>atrícula2</h1>
        </div>
        <div class="toolbar">
            <ul class="menu">
                <li><a (click)="dashboard()">Inicio</a></li>
                <li><a (click)="paintboard()">paintboard</a></li>
                <li><a >Sobre nosotros</a></li>
            </ul>
        </div>

        <div class="datos_usuario"(click)="mostarDatos()" >
            <div><i class="fa-solid fa-user-gear us"></i></div>
            @if(mostra){
            @if(authUser$ | async; as user ) {
                <div class="datos-ocultos">
              <div class="cono"></div>
              <div class="datos-usuario" >
                <hr><h3>Tus datos</h3><hr>
                <p><strong>Nombre:</strong> <span>{{user.firstName}}</span></p>
                <p><strong>telefono:</strong> <span>{{user.phone}}</span></p>
                <p><strong>Email:</strong> <span>{{user.email}}</span></p>
                <p><strong>Rol:</strong> <span ></span>{{user.role}}</p>
                <div style="text-align: center;margin-top: 20px;"><button (click)="logout()" mat-flat-button color="warn">Cerrar sesion <i class="fa-solid fa-right-to-bracket "></i></button></div>
            </div>
            </div>}}
        </div>
        </mat-toolbar>
        <main style="padding: 1rem;">
         <router-outlet />
        </main>
    </div>
    <app-footer />
</mat-drawer-container>