<h2 mat-dialog-title>Crear usuario</h2>
<div mat-dialog-content>
  <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nam quas
  repellendus culpa deleniti error vel id accusamus placeat aut et excepturi,
  voluptatem harum officia ipsa modi provident mollitia exercitationem. -->

  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label appResaltado>Nombre</mat-label>
          <input formControlName="firstName" matInput />
          <mat-hint>El nombre debe tener al menos 6 caracteres</mat-hint>
          <mat-error>{{
            firstNameControl?.errors | formFieldValidationErrors
          }}</mat-error>
          </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput />
          <mat-error>{{
            lastNameControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100 p-2" appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="ADMIN">ADMIN</mat-option>
            <mat-option value="USER">USER</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button (click)="onSave()" mat-button>Guardar</button>
</div>